<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Pet Lists</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
<body>
<a href="/add">Add a pet</a><br />
<table>
    <tr>
        <th>Type of Animal</th>
        <th>Name</th>
        <th>Description</th>
        <th>Status</th>
        <th>Image</th>
        <td>Actions</td>
    </tr>
    <tr th:each="pet : ${pets}">
        <td th:text="${pet.type}"></td>
        <td th:text="${pet.name}"></td>
        <td th:text="${pet.description}"></td>
        <td th:text="${pet.found}?'Lost':'Found'"></td>
        <td ><img th:src="${pet.image}" alt="Lost Pet Image" width="50px" height="50px"> </td>
        <td >
            <a th:href="@{/reportFound/{id}(id=${pet.id})}">Report Found</a> -
            <a th:href="@{/reportLost/{id}(id=${pet.id})}">Report Lost</a> -
            <a th:href="@{/update/{id}(id=${pet.id})}">Update</a> -
            <a th:href="@{/detail/{id}(id=${pet.id})}">Details</a> -
            <a th:href="@{/delete/{id}(id=${pet.id})}">Delete</a>
        </td>
    </tr>
</table>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>
</html>